body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #333;
	background-color: white;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

/* Typography */
h1, h2, h3 {
	font-family: 'Abel', Helvetica, Arial, sans-serif;
	margin: 0 0 25px 0;
}
p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	margin-bottom: 15px;
}
a {
	color: lightgrey;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul {
	list-style: none;
	overflow: auto
	margin: 0;
	padding: 0;
}
li {
	text-decoration: none;
}

/* Content */
.black {
	background-color: black;
}

.subbanner {
	padding: 45px 0;
}
.subbanner h1 {
	color: white;
}

/* Middle */
.banner-middle {
	width: 100%;
	height: auto;
	position: relative;
}
.banner-middle button {
	position: absolute;
}


/* Portfolio */

.century {
	background: url('../images/thumb-century.jpg');
}
.achieve {
	background: url('../images/thumb-achieve.jpg');
}
.ei {
	background: url('../images/thumb-ei.jpg');
}
.rh {
	background: url('../images/thumb-rh.jpg');
}
.lxr {
	background: url('../images/thumb-LXR.jpg');
}
.GB {
	background: url('../images/thumb-GB.jpg');
}
.lifetime {
	background: url('../images/thumb-lifetime.jpg');
}
.legacy {
	background: url('../images/thumb-legacy.jpg');
}
.ashville {
	background: url('../images/thumb-ashville.jpg');
}
.vero {
	background: url('../images/thumb-vero.jpg');
}

/* Buttons */
button {
	padding: 10px 45px;
	background-color: #820d5b;
	color: white;
	border: 2px solid #820d5b;
}
button:hover {
	background-color: white;
	border-color: #820d5b;
	color: #820d5b;
}

/* Footer */
footer {
	width: 100%;
	background-color: grey;
	text-align: center;
	padding: 40px 0;
}

/* Social */
ul.social-tabs li {
	position: relative;
	width: 30px;
	height: 35px;
	display: inline-block;
	margin: 15px 15px 15px 0;
}
li.social-tab:after {
	position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background-color: white;
    color: black;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    border: 1px solid black;
}
li.social-tab:hover:after {
	color: white;
	border: 1px solid white;
}
.github:after {
	content: "\f09b";
    padding: 3px 0 0 8px;
}
.github:hover:after {
	background-color: #24292e;
	cursor: pointer;
}
.codepin:after {
	content: "\f1cb";
    padding: 3px 0 0 6px;
}
.codepin:hover:after {
	background-color: #000;
	cursor: pointer;
}
.twitter:after {
	content: "\f099";
    padding: 4px 0 0 8px;
}
.twitter:hover:after {
	background-color: #5fa8dc;
	cursor: pointer;
}
.tumblr:after {
	content: "\f173";
    padding: 4px 0 0 10px;
}
.tumblr:hover:after {
	background-color: #35465c;
	cursor: pointer;
}

@media (max-width: 991px) {
	.headline {
	    background-size: 100%;
	    background-position-y: 100px;
	    background-repeat: no-repeat;
	    height: 350px;
	}
	.content {
	    display: block;
	    height: auto;
	    width: 100%;
	    float: none;
	}
	.portfolio {
		float: none;
	}
	.linkbox {
		margin: 15px auto;
	}
	.left-block {
		padding-right: 40px;
	}
	.left-block:after {
		width: 100%;
		height: 350px;
		-webkit-transform-origin: 0 100%;
		-ms-transform-origin: 0 100%;
		transform-origin: 0 100%;
		-webkit-transform: skewY(-10deg);
		-ms-transform: skewY(-10deg);
		transform: skewY(-10deg);
	}
	.content-body {
	    display: block;
	    min-height: 340px;
	}
	footer {
		clear: both;
		padding: 0;
		margin-top: 40px;
	}
	ul.social-tabs {
		text-align: center;
	}
	.github:after {
		padding: 3px 0 0 1px;
	}
	.codepin:after {
		padding: 3px 0 0 0;
	}
	.twitter:after {
    		padding: 4px 0 0 2px;
	}
	.tumblr:after {
    		padding: 4px 0 0 0px;
	}
}
@media (max-width: 700px) {
	.headline {
	    background-position-y: 135px;
	    margin: 0;
	}
}
@media (max-width: 525px) {
	.headline {
	    background-position-y: 210px;
	}
}
