body {
	background-color: #ffffff;
	color: #151515;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Fjalla One", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #565656;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  margin: 25px 0;
}
h3 {
  font-size: 32px;
  color: #276ca9;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 21px;
}
h6 {
  font-size: 16px;
}

ul {
	/* padding: 0; */
}
button {
	background: #276ca9;
	border-radius: 5px;
	border: none;
	margin: 5px 0;
}
button a {
	font-weight: bold;
	color: white;
	padding: 10px 15px;
	display: block;
}
button a:hover {
	text-decoration: none;
	color: white;
}

.marg-40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

.grey {
	background: #e4e4e4;
}

/* Logo */
.visible-xs-inline-block {
    padding: 0 10px 10px    ;
}
.logoContainer {
	padding:20px 0;
	border-bottom: 1px dotted #e3d4b3;
}

/* Banner */
.banner {
	background-image: url('../images/old-man.jpg');
    background-size: 55%;
    background-position: left;
    padding: 0;
    background-repeat: no-repeat;
}
.banner-copy h1 {
	color: white;
	margin-top: 40px;
	line-height: 62px;
}
.banner-copy p {
	color: white;
	font-size: 21px;
}
.banner-copy {
	overflow: auto;
	margin-bottom: 25px;
}
.banner-copy .col-md-7 {
	padding-left: 0;
}
.banner-copy img {
	margin-top: 35px;
}
.genes {
	padding: 25px 0 45px;
    background-image: url(../images/genes.png);
    background-position-x: 128%;
    background-position-y: 52%;
    background-repeat: no-repeat;
	background-size: 65%;
	min-height: 350px;
}

/* Nav */
nav ul.nav li {
	display: inline-block;
	margin-right: 5px;
}
nav .nav>li>a {
	padding: 15px 25px;
}
nav .nav>li>a:hover {
	cursor: pointer;
}
nav .nav>li.current>a {
}
nav.navbar {
	padding: 10px 0;
	margin: 0;
}
nav.navbar.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

/* Contact Form */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select:focus, textarea {
	max-width: 100%;
}
.contact-form {
	border: 1px solid lightgrey;
	background: white;
}
.contact-form h3 {
	padding: 15px 15px 0 15px;
}
.contact-form.middle {
	margin: 0 auto 40px;
	float: none;
}
p.note {
	text-align: center;
    font-weight: bold;
    color: #276ca9;
    font-size: 18px;
    margin-bottom: 20px;
}
.fsBody.fsEmbed {
    padding: 0;
}
.contact-form .fsForm .fsSubmit {
    margin-top: 40px;
    padding: 0;
}

/* Content */
.content {
    margin-top: 30px;
    margin-bottom: 30px;
}
.content img {
	max-width: 90%;
	margin: 30px 0;
}
.content .main-copy {
	padding-right: 40px;
}
.bar {
	min-height: 150px;
    background: #efefef;
    margin-top: -100px;
}
.bar h3 {
	color: #565656;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0 0;
}
.research .bar {
	margin: 20px 0;
}
.bar .col-md-3 {
	display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    text-align: center;
}
.bar .col-md-3:after {
    font-family: 'Glyphicons Halflings', 'Glyphicons'; 
	content:"\e080";
	font-size: 24px;
    display: block;
    position: absolute;
    right: 0;
	color: #565656;
}
.bar .col-md-3:last-child:after {
	content: '';
	display: none;
}
.bar .icon {
	color: #565656;
	font-size: 30px;
}
.bar p {
	color: #565656;
	font-size: 24px;
	padding: 5px 20px;
	text-align: center;
	vertical-align: middle;
}
.headshot {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	overflow: hidden;
}
.content .headshot img {
	max-width: 100%;
	margin: 0;
}
.about-box {
	margin-top: 40px;
}

/* About Page */
.bios .col-md-6 {
	margin: 40px 0;
	min-height: 200px;
}
.about .headshot {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 25px;
}
.about .bar {
	margin-top: 0;
}

/* Participation Page */
.participants, .participant-info {
	text-align: center;
}
.participant-info {
	margin-bottom: 40px;
}
.participants img {
	margin: 30px auto;
	display: block;
	height: 150px;
}
.participants h3 {
	margin: 30px 0;
}
.research h4 {
	margin: 30px 0;
	text-align: center;
}


/* TIMELINE */
.timeline {
	margin: 40px 0;
}
.timeline ul li {
  list-style: none;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  width: calc(50% - 29px);
  border: 1px solid lightgrey;
  background-color: white;
  margin: -10px 0;
  clear: both;
}
.timeline ul li.timeline_right {
	float: right;
}
.timeline ul li.timeline_left {
	float: left;
}
.timeline ul li.timeline_right::before {
	content: '';
	border-right: 2px solid grey;
	width: 2px;
	height: 100%;
	left: -30px;
	top: 0;
	position: absolute;
	color: black;
	height: 140%;
}
.timeline ul li.timeline_left::before {
	content: '';
	border-right: 2px solid grey;
	width: 2px;
	height: 100%;
	right: -32px;
	top: 0;
	position: absolute;
	color: black;
	height: 140%;
}
.timeline_left span.timeline_title {
  float: right;
}
.timeline_right span.timeline_title {
  float: left;
}
.timeline_left span.timeline_title:after {
  content: '•';
  right: -36px;
  position: absolute;
  font-size: 30px;
  line-height: 1.5;
  color: grey;
}
.timeline_right span.timeline_title:after {
  content: '•';
  left: -34px;
  position: absolute;
  font-size: 30px;
  line-height: 1.5;
  color: grey;
}
.timeline_left span.timeline_title {
  width: 100%;
  height: 40px;
  color: white;
  text-align: right;
  line-height: 40px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 24px;
}
.timeline_right span.timeline_title {
  width: 100%;
  height: 40px;
  color: white;
  text-align: left;
  line-height: 40px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 24px;
}
ul li span.timeline_title {  
	background-color: #276ca9;
}
.timeline ul {
  overflow: hidden;
  height: auto;
  padding: 10px 0;
}
span.timeline_body {
  padding-top: 10px;
  clear: both;
  display: block;
}

/* END TIMELINE */



.engagement{
	margin:10px 0 16px 0;
}
.engagement h1 {
	font-size: 60px;
}
.engagement h2 {
	color: #d0b781;
	font-size: 50px;
	margin:0 0 20px 0;
}
.engagement p
{
	font-size: 20px;
}

.bucket-icon {
	color: #d0b781;
	font-size: 100px !important;
	padding-top:20px;
}

.main-navigation {
	font-size: 16px;
	font-weight: bold;
	margin-top:10px;
}
.main-navigation a {
	color: #d0b781;
}

.fulldarkgray {
	padding: 40px 0 60px 0;
	background-color: #202020;
	color: #ffffff;
}

.fulldarkgray h1, .fulldarkgray h2, .fulldarkgray h3, .fulldarkgray h4, .fulldarkgray h5, .fulldarkgray h6 {
	color: #eeeeee;
}

/* Subfooter */
.container-fluid.subfooter {
    min-height: 5px;
    background: #efefef;
}
.subfooter {
	padding-top: 40px;
	padding-bottom: 40px;
}
.partner {
	text-align: center;
}
.partner img {
	max-width: 300px;
	margin: 25px 0;
}

/* Footer */
footer {
	margin-top:40px;
}
footer a {
	color: white;
	padding: 10px;
}
footer p {
	text-align: center;
	padding: 0 15px;
}
footer ul {
	text-align: center;
	margin: 0 auto 20px;
}
footer ul li {
	display: inline-block;
}

/* MEDIA */
@media screen and (max-width:1300px) {
	.banner {
		background-size: 60%;
	}
}

@media screen and (max-width:1200px) {
	.banner {
		background-size: 71%;
		background-position-x: -40%;
	}
}

@media screen and (max-width:991px) {
	.genes {
		background-position-x: center;
		background-size: 200%;
		background-position-y: 40%;
		height: auto;
		min-height: 0;
	}
	.banner {
		background-size: 100%;
		padding-top: 48%;
		background-position: top;
	}
	.banner-copy {
		text-align: center;
	}
	nav ul.nav li {
		display: block;
		margin-right: 0;
	}
	.contact-form {
		margin-bottom: 40px;
	}
	.content .main-copy {
		padding-right: initial;
		margin-bottom: 40px;
	}
	.bar .col-md-3:after {
		content:"\e114";
		left: 0;
		bottom: 0;
	}
	.bar .col-md-3 {
		height: 180px;
	}
}

/* TIMELINE */
@media (max-width: 760px) {
	.timeline ul li.timeline_right {
		float: left;
	}
	.timeline ul li {
		width: 100%;
		margin: 10px 0;
	}
	.timeline ul li.wd_timeline_left::before {
		right: inherit;
		left: -32px;
	}
	.timeline_left span.timeline_title:after {
		right: inherit;
		left: -36px;
	}
	.timeline_left span.timeline_title {
		text-align: left;
	}
	.timeline ul li.timeline_right::before,
	.timeline ul li.timeline_left::before {
		display: none;
	}
	.main-copy {
		padding-left: 0;
	}
}
/* END TIMELINE */

@media (max-width: 767px) {
	/* .genes {
		background-size: 100%;
		background-position-x: 210px;
	} */
	.engagement h1 {
		font-size: 50px;
	}
	.engagement h2 {
		color: #d0b781;
		font-size: 40px;
		margin:0 0 10px 0;
	}
	.engagement p {
		font-size: 14px;
	}
}

@media (max-width: 600px) {
	.partner img {
		max-width: 100%;
	}
	.about-box {
		text-align: center;
	}
	.headshot {
		margin: 0 auto;
		width: 250px;
		height: 250px;
	}
	.content img {
		max-width: 100%;
	}
	.bar {
		min-height: 100px;
	}
	.bios {
		text-align: center;
	}
	.about .headshot {
		float: none;
		margin: 0 auto 15px;
	}
	.fulldarkgray {
		padding: 20px 0;
	}
	footer {
		margin-top: 0;
	}
	footer ul li {
		display: block;
		width: 100%;
		margin: 20px 0;
	}
}