body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #454545;
	background-color: white;
	margin: 0;
	padding: 0;
	background: url('../images/bk.jpg') no-repeat center center fixed;
	background-size: cover;
}

img {
	max-width: 100%;
}

/* Typography */
h1, h2, h3 {
	font-family: 'Abel', Helvetica, Arial, sans-serif;
	margin: 0 0 25px 0;
}
p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	margin-bottom: 15px;
}
a {
	color: grey;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul {
	list-style: none;
	overflow: auto
	margin: 0;
	padding: 0;
}
li {
	text-decoration: none;
}

/* Content */
.main { 
  display: table;
  width: 100%;
}
.content { 
  display: table-row; 
  height: 100%;
  float: left;
  width: 50%;
}
.content-body { 
  display: table-cell;
}
.left-block {
	padding: 25px 80px 25px 25px;
}
.left-block:after {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: black;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    transform: skew(-15deg);
    z-index: -1;
}
.left-block h1, .left-block p {
	color: white;
}

/* Portfolio */
.portfolio {
	float: right;
	padding-top: 15px;
}
.linkbox {
	height: 150px;
	width: 150px;
	margin: 0 auto;
	border-radius: 150px;
	opacity: 0.75;
}
.portfolio .col-md-4 p {
	color: white;
	text-align: center;
	padding: 10px 0 20px;
	margin: 0;
	font-weight: bold;
}
a:hover .linkbox {
	opacity: 1;
	transition: ease;
	-webkit-box-shadow: 1px 2px 3px 0px rgba(26,26,26,0.5);
	-moz-box-shadow: 1px 2px 3px 0px rgba(26,26,26,0.5);
	box-shadow: 1px 2px 3px 0px rgba(26,26,26,0.5);
	text-decoration: none;
}
a:hover .linkbox p {
	text-decoration: none;
}
.century {
	background: url('../images/thumb-century.jpg');
}
.achieve {
	background: url('../images/thumb-achieve.jpg');
}
.ei {
	background: url('../images/thumb-ei.jpg');
}
.rh {
	background: url('../images/thumb-rh.jpg');
}
.lxr {
	background: url('../images/thumb-LXR.jpg');
}
.expedia {
	background: url('../images/thumb-expedia.jpg');
}
.GB {
	background: url('../images/thumb-GB.jpg');
}
.lifetime {
	background: url('../images/thumb-lifetime.jpg');
}
.legacy {
	background: url('../images/thumb-legacy.jpg');
}
.ashville {
	background: url('../images/thumb-ashville.jpg');
}
.vero {
	background: url('../images/thumb-vero.jpg');
}

/* Buttons */
button {
	background: white;
	color: black;
	font-weight: bold;
	border: 2px solid white;
	padding: 10px 45px;
}
button:hover {
	background: black;
	color: white;
}

/* Footer */
footer {
	padding-left: 25px;
}

/* Social */
ul.social-tabs li {
	position: relative;
	width: 30px;
	height: 35px;
	display: inline-block;
	margin: 15px 15px 15px 0;
}
li.social-tab:after {
	position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background-color: white;
    color: black;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    border: 1px solid black;
}
li.social-tab:hover:after {
	color: white;
	border: 1px solid white;
}
.github:after {
	content: "\f09b";
    padding: 3px 0 0 8px;
}
.github:hover:after {
	background-color: #24292e;
	cursor: pointer;
}
.codepin:after {
	content: "\f1cb";
    padding: 3px 0 0 6px;
}
.codepin:hover:after {
	background-color: #000;
	cursor: pointer;
}
.twitter:after {
	content: "\f099";
    padding: 4px 0 0 8px;
}
.twitter:hover:after {
	background-color: #5fa8dc;
	cursor: pointer;
}
.tumblr:after {
	content: "\f173";
    padding: 4px 0 0 10px;
}
.tumblr:hover:after {
	background-color: #35465c;
	cursor: pointer;
}

@media (max-width: 991px) {
	.headline {
	    background-size: 100%;
	    background-position-y: 100px;
	    background-repeat: no-repeat;
	    height: 350px;
	}
	.content {
	    display: block;
	    height: auto;
	    width: 100%;
	    float: none;
	}
	.portfolio {
		float: none;
	}
	.linkbox {
		margin: 15px auto;
	}
	.left-block {
		padding-right: 40px;
	}
	.left-block:after {
		width: 100%;
		height: 400px;
		-webkit-transform-origin: 0 100%;
		-ms-transform-origin: 0 100%;
		transform-origin: 0 100%;
		-webkit-transform: skewY(-10deg);
		-ms-transform: skewY(-10deg);
		transform: skewY(-10deg);
	}
	.content-body {
	    display: block;
	    min-height: 380px;
	}
	footer {
		clear: both;
		padding: 0;
		margin-top: 40px;
	}
	ul.social-tabs {
		text-align: center;
	}
	.github:after {
		padding: 3px 0 0 1px;
	}
	.codepin:after {
		padding: 3px 0 0 0;
	}
	.twitter:after {
    		padding: 4px 0 0 2px;
	}
	.tumblr:after {
    		padding: 4px 0 0 0px;
	}
}
@media (max-width: 700px) {
	.headline {
	    background-position-y: 135px;
	    margin: 0;
	}
}
@media (max-width: 525px) {
	.headline {
	    background-position-y: 210px;
	}
}
